<div class="example">
  <div class="example__header">
    <h1>Proposal For Table Component</h1>
  </div>
  <div class="example__body">
    <div class="example__body__content">
      <p>Let's change the data source:</p>
      <app-select [options]="dataOptions" (selectChange)="setDataSource($event)"></app-select>

      <p>Let's set the table column order (beta):</p>
      <app-select [options]="tableColOrders" (selectChange)="setTableColOrder($event)"></app-select>

      <br><br>
      <!-- What is this? -->
      <app-paginated-table *ngIf="tableData"
                           [tableData]="tableData"
                           [tableColOrder]="tableColOrder"
                           [loading]="loading"
                           (headerSelected)="headerSelected($event)">
      </app-paginated-table>

      <h2>Let's see the data</h2>
      <textarea>
        {{ tableData | json }}
      </textarea>
    </div>
    <!-- sidebar -->
    <div class="example__body__sidebar" [ngClass]="{'example__body__sidebar--show': sideBarOpen}">
      <div class="example__body__sidebar__close" (click)="hideSideBar()">X</div>
      Selected Row:
      <br><br>
      {{ selectedRow | json }}
    </div>
  </div>


</div>
<!-- Loading order -->
<!-- [tableColOrder]="tableColOrder" -->
<!-- what about side bar? -->
<!--  (rowSelected)="showSideBar($event)" -->
<!-- custom header template for simple data -->
<!--
  <ng-template #headers>
    <td>End Of Level Boss</td>
    <td>Character Name</td>
    <td>Position</td>
    <td>Location</td>
    <td>Key Strength</td>
  </ng-template>
-->
<!-- what if I want to loop? -->
<!--
<ng-template *ngIf="currentSource === '../data/simple-data.json'">
  <ng-template #headers>
    <td *ngFor="let data of tableData[0] | keyvalue"> "translate.pageName.cols.{{ data.key }}"</td>
  </ng-template>
</ng-template>

<ng-template #rows let-row>
  <td>{{ row.displayName }}</td>
  <td>{{ row.connectionState }}</td>
  <td>{{ row.activeIssues | json }}</td>
  <td>{{ row.lastUpdate }}</td>
  <td>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </td>
</ng-template>
-->

<!-- custom shit for Live Monitor -->
<!--


<ng-template #headers>
  <td>Name</td>
  <td>Connection</td>
  <td>Status</td>
  <td>Last Update</td>
  <td></td>
</ng-template>

<ng-template #rows let-row>
  <td>{{ row.displayName }}</td>
  <td>{{ row.connectionState }}</td>
  <td>{{ row.activeIssues | json }}</td>
  <td>{{ row.lastUpdate }}</td>
  <td>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        Whatever
      </button>
      <button mat-menu-item disabled>
        Grün ist die Heide
      </button>
      <button mat-menu-item>
        Hot Wire My Heart
      </button>
    </mat-menu>
  </td>
</ng-template>






<ng-template #headers>
          <td>Name</td>
          <td>Connection</td>
          <td>Status</td>
          <td>Last Update</td>
          <td></td>
        </ng-template>

        <ng-template #rows let-row>
          <td>{{ row.displayName }}</td>
          <td>{{ row.connectionState }}</td>
          <td>{{ row.activeIssues | json }}</td>
          <td>{{ row.lastUpdate }}</td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                Whatever
              </button>
              <button mat-menu-item disabled>
                Grün ist die Heide
              </button>
              <button mat-menu-item>
                Hot Wire My Heart
              </button>
            </mat-menu>
          </td>
        </ng-template>

-->
